:root {
  --dark-gray: #474747;
  --light-gray: #828282;
  --light-blue: #54c2e6;
  --title-color: #5F5F5F;
  --silver: #C4C4C4;
  --concrete:#A5A5A5;
  --green: #519945;
  --white: #FFFFFF;
  --black: #000000;
  --red: #ff4949
}
